* {
  font-family: 'Lato';
}

body {
  margin: 0;
}

.sections {
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
}

.section {
  min-height: 800px;
  width: 100vw;
  margin: 0;
  padding: 300px 0px;
  text-align: center;
}

.section.black {
  background-color: black;
  color: white;
}

.section.white {
  background-color: white;
  color: black;
}

h2 {
  font-size: 80px;
}
