
.sections {
  height: 100%;
  overflow: hidden;

  .section {
    min-height: 60vh;
    width: 100vw;
    margin: 0;
    padding: 30vh 0;
    text-align: center;
    position: relative;

    &.black {
      background-color: black;
      color: white;
    }

    &.white {
      background-color: white;
      color: black;
    }
  }



}

