pre {
  display: none;
	@media (min-width: 1680px) {
    height: auto;
    border: 5px solid white;
    outline: 1px solid #ccc;
    background: #1e1e1e;
    padding: 20px;

    white-space: pre-wrap;
    text-align: left;

    display: flex;
    flex-direction: column;

		&.code-box-right {
			position: fixed;
			top: calc(50% - 120px);
			right: 0;
		}
	}
}

.section {
	position: relative;
}

.lorem-ipsum {
	padding: 50px;
	text-align: justify;
	line-height: 28px;
	letter-spacing: 0.8px;

	@media (min-width: 1680px) {
		max-width: 50%;
	}
}

.content-with-code {
	display: flex;
	flex-direction: column;

	@media (min-width: 1680px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		pre {
			margin-right: 50px;
		}
	}
}

.flex {
	@media (min-width: 1680px) {
		flex: auto;
		margin: 10vh auto;
	}
}

.switch-order-sm-screen {
	:first-child:not(.box) {
		order: 2;
	}

	:nth-child(2):not(.box) {
		order: 1;
	}

	@media (min-width: 1680px) {
		:first-child:not(.box) {
			order: 1;
		}

		:nth-child(2):not(.box) {
			order: 2;
		}
	}
}
